{% extends 'base.html.twig' %}

{% block body %}
<!-- page start-->
<div class="col-sm-8">
    <section class="panel">
        <div class="chat-room-head">
            <h3><i class="fa fa-angle-right"></i>Editer un genre</h3>
        </div>
        <div class="panel-body">

    {{ include('genre/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <h4>Jeux associés à ce genre :</h4>
    {% if genre.jeuVideos is not empty %}
        <ul>
            {% for jeu in genre.jeuVideos %}
                <li>{{ jeu.nom }} ({{ jeu.refJeu }})</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun jeu associé.</p>
    {% endif %}

    <a href="{{ path('app_genre_index') }}"><button class="btn btn-primary btn-xs"><i class="fa fa-share"></i></button></a>

    {{ include('genre/_delete_form.html.twig') }}
    </div>
    <!-- fin du div panel-body-->
    </section>
    <!-- fin section genre-->
    </div>
    <!-- fin div col-sm-8-->
{% endblock %}
