{{ form_start(form) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.email) }}
    <div class="form-group">
        {{ form_label(form.tournois, 'Tournois auxquels participer') }}
        {{ form_widget(form.tournois, {
            'attr': {
                'class': 'form-control',
                'size': '8',
                'style': 'min-height: 200px;'
            }
        }) }}
        <small class="form-text text-muted">
            <i class="fa fa-info-circle"></i> Maintenez <kbd>Ctrl</kbd> (ou <kbd>Cmd</kbd> sur Mac) pour sélectionner plusieurs tournois
        </small>
        {{ form_errors(form.tournois) }}
    </div>
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
