{% extends 'base.html.twig' %}

{% block body %}
<div class="col-sm-8">
    <section class="panel">
        <div class="chat-room-head">
            <h3><i class="fa fa-angle-right"></i> Détails du participant</h3>
        </div>
        <div class="panel-body">

    <table class="table table-striped">
        <tbody>
            <tr>
                <th><i class="fa fa-bullhorn"></i> Id</th>
                <td>{{ participant.id }}</td>
            </tr>
            <tr>
                <th><i class="fa fa-user"></i> Prénom</th>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <th><i class="fa fa-user"></i> Nom</th>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <th><i class="fa fa-phone"></i> Téléphone</th>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                <th><i class="fa fa-envelope"></i> Email</th>
                <td>{{ participant.email }}</td>
            </tr>
            <tr>
                <th><i class="fa fa-gamepad"></i> Tournois</th>
                <td>
                {% if participant.tournois is not empty %}
                    {% for tournoi in participant.tournois %}
                        <span class="badge bg-info text-dark">{{ tournoi.libelle }}</span>
                    {% endfor %}
                {% else %}
                    <span class="badge bg-warning text-dark">Aucun tournoi</span>
                {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_participant_index') }}"><button class="btn btn-primary btn-xs"><i class="fa fa-share"></i></button></a>

    <a href="{{ path('app_participant_edit', {'id': participant.id}) }}"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>

    {{ include('participant/_delete_form.html.twig') }}
    </div>
    <!-- fin du div panel-body-->
    </section>
    <!-- fin section participant-->
    </div>
    <!-- fin div col-sm-8-->
{% endblock %}
